<html>
    <%- include('./partials/document/head') %>
    <body>
        <% if (user) { %>
            <nav>
                <h1>Welcom Back <%= user.username %></h1>
                <button class="upload__button">Upload File</button>
            </nav>
        <main class="main__dashboard">
                <dialog class="upload__modal">
                        <form action="/dashboard/upload" method="POST" enctype="multipart/form-data">
                            <div>
                                <label for="file">Upload</label>
                                <br>
                                <input type="file" name="file" id="file" required>
                                <label for="folder__name"></label>
                                <select name="folderId" id="folder__name">
                                    <option value="">None</option>
                                    <%user.folders.forEach(folder => { %>
                                        <option value="<%=folder.id %>">
                                            <%= folder.name %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <button type="submit">Upload</button>
                            <button class="close__umodal">Close</button>
                        </form>
                </dialog>
                <dialog class="create__modal">
                    <form action="/dashboard/create-folder" method="POST">
                        <div>
                            <label for="folder">Folder Name</label>
                            <br>
                            <input type="text" name="folderName" id="folder">
                            <input type="text" name="userId" value="<%= user.id %>" readonly>
                        </div>
                        <button type="submit">Create</button>
                        <button class="close__cfmodal">Close</button> 
                    </form>
                </dialog>
                <section class="file__container">
                    <h1 class="file__header">Your Folders: </h1>
                    <%user.folders.forEach(folder => { %>
                        <button class="file__button"><h2><%= folder.name %>:</h2></button>
                        <ul>
                            <li class="file__item">
                                <% if (folder.files.length !== 0){ %>
                                    <%folder.files.forEach(file => { %>
                                        <a href="<%= file.url %>" download>
                                            <%= file.name %>
                                        </a>
                                    <% }) %>
                                <% } else { %>
                                    <p class="file__item">Folder is Empty</p>
                                <% } %>
                            </li>
                        </ul>
                    <% }) %>
                </section>
                <section class="content__container">
                    <div class="content__container__nav">
                        <input type="text" class="search__bar">
                        <button class="create__button">Create Button</button>
                    </div>
                            
                    <div class="content__content">
                        <% if(user.file.length !== 0) { %>
                            <% user.file.forEach(file => { %>
                                <div class="file__block">
                                    <p><%= file.name %></p>
                                    <p><%= file.createdAt %></p>
                                    <p><%= file.updatedAt %></p>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <h1 class="file__empty">No Files Yet</h1>
                        <% } %>
                    </div>
                </section>
        </main>
        <% } else { %>
            <h1>Please Log In</h1>
            <a href="/">Log in</a>
        <% } %>
    </body>
</html>