<html>
    <%- include('./partials/document/head') %>
    <body>
        <% if (user) { %>

        <main class="main__dashboard">
            <% if (locals.errors){ %>
                <div class="error__msg">
                    <%errors.forEach(error => { %>
                        <p> <%= error.msg %></p>
                    <% }) %>
                </div>
            <% } %>
            <div class="create__modal">
                <form action="/dashboard/create-folder" method="POST">
                    <div>
                        <label for="folder">Folder Name</label>
                        <br>
                        <input type="text" name="folderName" id="folder" class="create__folder">
                        <input type="text" name="userId" value="<%= user.id %>" readonly class="hidden">
                    </div>
                    <div class="modal__buttons">
                        <button type="submit">Create</button>
                        <button class="close__cfmodal">Close</button> 
                    </div>
                </form>
            </div>
            <div class="upload__modal">
                <form action="/dashboard/upload/null" method="POST" enctype="multipart/form-data" class="upload__form">
                    <div>
                        <label for="file" class="file__upload"></label>
                        <input type="file" name="file" id="file" class="file__drop" required>
                        <label for="folder__name"></label>
                        <select name="folderId" id="folder__name" class="folder__select">
                            <option value="">None</option>
                            <%user.folders.forEach(folder => { %>
                                <option value="<%= folder.id %>,<%= folder.name %>">
                                    <%= folder.name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="modal__buttons">
                        <p class="file__name">File: None</p>
                        <button type="submit">Upload</button>
                        <button class="close__umodal">Close</button>
                    </div>
                </form>
            </div>
            <div class="file__modal">
                <button class="close__fmodal">Close</button>
                <label for="efile__name" class="efile__label">File Name:</label>
                <input type="text" class="efile__name" id="efile__name">
                <p class="file__size"></p>

                <div class="modal__buttons">
                    <form action="" method="POST" action="" class="download__file">
                        <button class="emodal__button">
                            Download
                        </button>
                    </form>
                    <form action="" method="POST" action="" class="delete__file">
                        <button class="emodal__button">
                            Delete
                        </button>
                    </form>
                    <form action="" method="POST" action="" class="update__file">
                        <input type="text" readonly class="hidden absolute h__input" name="newName">
                        <button class="emodal__button">
                            Save
                        </button>
                    </form>
                </div>
            </div>
            <dialog class="delete__folder">
                <p>Deleting The Folder would delete all of its contents</p>
                <div class="df__buttons">
                    <button class="close__dmodal">Close</button>
                    <form action="" method="POST" class="eadelete__form">
                        <button class="eadelete">Delete</button>
                    </form>
                </div>
            </dialog>
            <div class="folder__modal">
                <button class="close__flmodal">Close</button>
                <label for="new__folder__name" class="efolder__label">Folder Name: </label>
                <input type="text" id="new__folder__name" class="efolder_name">
                <div class="modal__buttons">
                    <form action="" method="POST" action="" class="download__file">
                        <button class="emodal__button hidden" disabled>
                        </button>
                    </form>
                    <div>
                        <button class="emodal__button edelete">
                            Delete
                        </button>
                    </div>
                    <form action="" method="POST" action="" class="update__folder">
                        <input type="text" readonly class="hidden absolute hf__input" name="newName">
                        <button class="emodal__button">
                            Save
                        </button>
                    </form>
                </div>
            </div>
                <section class="file__container">
                    <button class="all__files">Go Back</button>
                    <h1 class="file__header">Your Folders: </h1>
                    <%user.folders.forEach(folder => { %>
                            <button class="file__button">
                                <h2><%= folder.name %>:</h2>
                                <p hidden><%= folder.id %> </p>
                                <p class="path" hidden><%= folder.name %>/<%= folder.id %></p>
                            </button>
                        <ul class="f<%= folder.id %>">
                                <% if (folder.files.length !== 0){ %>
                                    <%folder.files.forEach(file => { %>
                                        <li class="file__item">
                                            <button class="nav__file__button">
                                                <%= file.name %>
                                            </button>
                                            <p class="path to_<%= file.id %>" hidden>
                                                <%= folder.name %>/<%= file.name %>/<%= file.id %>
                                            </p>
                                            <p hidden><%=file.id%></p>
                                        </li>
                                    <% }) %>
                                <% } else { %>
                                    <li>
                                        <p class="file__item__empty">Folder is Empty</p>
                                    </li>
                                <% } %>
                        </ul>
                    <% }) %>
                    <% const unFiled = user.file.filter(file => !file.inFolder) %>
                    <button class="unfile__button">
                        <h2>Unfiled:</h2>
                    </button>
                    <ul>
                        <% unFiled.forEach(file => { %>
                            <li class="file__item">
                                <button class="nav__file__button">
                                    <%= file.name %>
                                </button>
                                <p class="path to_<%= file.id %>" hidden>
                                    null/<%= file.name %>/<%= file.id %>
                                </p>
                                <p hidden><%= file.size %></p>
                            </li>
                        <% }) %>
                    </ul>
                </section>
                <section class="content__container">
                    <div class="content__container__nav">
                        <button class="upload__button">Upload File</button>
                        <input type="text" class="search__bar">
                        <button class="create__button">Create Button</button>
                    </div>
                            
                    <div class="content__content">
                        <% if(user.file.length !== 0) { %>
                            <div class="file__block file__header__block">
                                <p class="file__content">Name</p>
                                <p class="file__content">Created At</p>
                                <p class="file__content">Updated At</p>
                                <p class="file__content">Size</p>
                            </div>
                            <% user.folders.forEach(folder => { %>
                                <% folder.files.forEach(file => { %>
                                    <button class="file__block afile f" id="f<%= file.id %>">
                                        <p class="file__content"><%= file.name %></p>
                                        <p class="file__content cDate"><%= file.createdAt %></p>
                                        <p class="file__content uDate"><%= file.updatedAt %></p>
                                        <p class="file__content"><%= file.size %></p>
                                        <p class="hidden absolute"><%= file.id %></p>
                                        <p class="hidden absolute"><%= folder.name %></p>
                                    </button>
                                <% }) %>
                            <% }) %>
                            <% const unFiled = user.file.filter(file => !file.inFolder) %>
                            <% unFiled.forEach(file => { %>
                                <button class="file__block unfiled afile">
                                    <p class="file__content"><%= file.name %></p>
                                    <p class="file__content cDate"><%= file.createdAt %></p>
                                    <p class="file__content uDate"><%= file.updatedAt %></p>
                                    <p class="file__content"><%= file.size %></p>
                                    <p class="hidden absolute"><%= file.id %></p>
                                </button>
                            <% }) %>
                        <% } else { %>
                            <h1 class="file__empty">No Files Yet</h1>
                            <p class="hello"></p>
                        <% } %>
                    </div>
                </section>
        </main>
        <% } else { %>
            <h1>Please Log In</h1>
            <a href="/">Log in</a>
        <% } %>
    </body>
</html>