<html>
    <%- include('./partials/document/head') %>
    <body>
        <% if (user) { %>

        <main class="main__dashboard">
            <div class="create__modal">
                <form action="/dashboard/create-folder" method="POST">
                    <div>
                        <label for="folder">Folder Name</label>
                        <br>
                        <input type="text" name="folderName" id="folder" class="create__folder">
                        <input type="text" name="userId" value="<%= user.id %>" readonly class="hidden">
                    </div>
                    <div class="modal__buttons">
                        <button type="submit">Create</button>
                        <button class="close__cfmodal">Close</button> 
                    </div>
                </form>
            </div>
            <div class="upload__modal">
                <form action="/dashboard/upload" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="file" class="file__upload"></label>
                        <input type="file" name="file" id="file" class="file__drop" required>
                        <label for="folder__name"></label>
                        <select name="folderId" id="folder__name" class="folder__select">
                            <option value="">None</option>
                            <%user.folders.forEach(folder => { %>
                                <option value="<%=folder.id %>">
                                    <%= folder.name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="modal__buttons">
                        <p class="file__name">File: None</p>
                        <button type="submit">Upload</button>
                        <button class="close__umodal">Close</button>
                    </div>
                </form>
            </div>
                <section class="file__container">
                    <h1 class="file__header">Your Folders: </h1>
                    <%user.folders.forEach(folder => { %>
                        <button class="file__button"><h2><%= folder.name %>:</h2></button>
                        <ul>
                            <li class="file__item">
                                <% if (folder.files.length !== 0){ %>
                                    <%folder.files.forEach(file => { %>
                                        <a href="<%= file.url %>" download>
                                            <%= file.name %>
                                        </a>
                                    <% }) %>
                                <% } else { %>
                                    <p class="file__item">Folder is Empty</p>
                                <% } %>
                            </li>
                        </ul>
                    <% }) %>
                </section>
                <section class="content__container">
                    <div class="content__container__nav">
                        <button class="upload__button">Upload File</button>
                        <input type="text" class="search__bar">
                        <button class="create__button">Create Button</button>
                    </div>
                            
                    <div class="content__content">
                        <% if(user.file.length !== 0) { %>
                            <% user.file.forEach(file => { %>
                                <form action="/dashboard/download/<%= file.name %>" method="POST">
                                    <button class="file__block">
                                        <p class="file__content"><%= file.name %></p>
                                        <p class="file__content"><%= file.createdAt %></p>
                                        <p class="file__content"><%= file.updatedAt %></p>
                                    </button>
                                </form>
                            <% }) %>
                        <% } else { %>
                            <h1 class="file__empty">No Files Yet</h1>
                            <p class="hello"></p>
                        <% } %>
                    </div>
                </section>
        </main>
        <% } else { %>
            <h1>Please Log In</h1>
            <a href="/">Log in</a>
        <% } %>
    </body>
</html>